// Single Playlist
.haru-single-playlist {
	margin-bottom: 80px;
}

.single-haru_playlist {
	.single-playlist {
		&__title {
			font-size: 20px;
			font-weight: $fw_medium;
			margin-top: 20px;

			@media screen and (max-width: $screen-xs-max) {
				font-size: 18px;
			}
		}

		&__meta-top {
			display: flex;
			border-bottom: 1px solid $border_color;
			padding: 5px 0 25px;
			font-size: $fs-small + 1px;

			> div {
	            margin-right: 15px;
	            position: relative;

	            &:after {
	                content: '';
	                width: 3px;
	                height: 3px;
	                background-color: rgba($text_color, .8);
	                position: absolute;
	                right: -8px;
	                border-radius: 50%;
	                top: 50%;
	                transform: translateY(-50%);
	            }

	            &:last-child {
	                margin-right: 0;

	                &:after {
	                    display: none;
	                }
	            }

	            > i {
	                margin-right: 5px;
	                display: none;
	            }
	        }
		}

		&__author {
	        i {
	            display: none;
	        }
	    }

	    &__like,
	    &__dislike {
	    	.post-vote-label {
		        display: none;
		    }

	        i {
	            display: none;
	        }
	    }

	    &__view {
	    	.post-views-count {
		    	.post-views-label {
		            display: none;
		        }

		        i {
		        	display: none;
		        }
		    }
	    }

		&__content {
			border-bottom: 1px solid $border_color;
			padding: 25px 0;
			margin-bottom: 30px;
		}

		&__meta-bottom {
			display: flex;
			border-bottom: 1px solid $border_color;
			padding: 30px 0;
			margin-bottom: 30px;
			align-items: center;

			@media screen and (max-width: $screen-xs-max) {
				display: block;
			}
		}

		&__playall {
			
		}

		&__layout-toggle {
			font-weight: $fw-bold;
			margin-top: -66px;
			margin-bottom: 60px;
			text-align: right;

			.toggle-layout {
				border: 1px solid $border_color;
				display: inline-block;
				padding: 5px 10px;

				&.active {
					background-color: $primary_color;
					border: 1px solid $primary_color;
					color: $white;
				}
			}
		}

		&__videos {
			margin: 0 -15px;
		}

		&__thumbnail {
			position: relative;
			margin-bottom: 10px;
			border-radius: $border_radius;
			overflow: hidden;

			&:hover {
				.slick-arrow {
			        &.slick-prev, 
			        &.slick-next {
						opacity: 1;
						transition: all .3s;
			        }
		        }
			}

			// Arrow
		    // Arrow
		    .slick-arrow {
		        &.slick-prev, 
		        &.slick-next {
		            background: rgba($black, .3);
		            border: none;
		            color: transparent;
		            cursor: pointer;
		            display: block;
		            font-size: 0;
		            line-height: 0;
		            outline: none;
		            opacity: 0;
		            padding: 0;
		            position: absolute;
		            top: 50%;
		            z-index: 99;
		            width: 30px;
		            height: 30px;
		            border-radius: $border_radius_small;
		            transform: translateY(-50%);
		            transition: all .3s;

		            &:before {
		                color: $white;
		                font-family: 'slick';
		                font-size: 14px;
		                line-height: 1;
		                opacity: 1;
		                transition: all .3s;
		            }

		            &:hover {
		                background-color: $primary_color;

		                &:before {
		                    background-color: $white;
		                    transition: all .3s;
		                }
		            }
		        }

		        &.slick-prev {
		            left: 15px;

		            &:before {
		                display: inline-block;
		                background-repeat: no-repeat;
		    			background-size: cover;
		                content: '';
		                -webkit-mask-image: url(../images/icon-arrow-left.svg);
					    mask-image: url(../images/icon-arrow-left.svg);
					    width: 4.69px;
					    height: 8px;
					    background-color: $white;
		            }
		        }
		        
		        &.slick-next {
		            right: 15px;

		            &:before {
		                display: inline-block;
		                background-repeat: no-repeat;
		    			background-size: cover;
		                content: '';
		                -webkit-mask-image: url(../images/icon-arrow-right.svg);
					    mask-image: url(../images/icon-arrow-right.svg);
					    width: 4.69px;
					    height: 8px;
					    background-color: $white;
		            }
		        }
		    }
		}

		&__count-video {
			position: absolute;
	        top: 10px;
	        left: 10px;
	        background-color: rgba($black, .8);
	        border-radius: $border_radius_small;
	        color: $white;
	        padding: 2px 6px;
	        font-size: $fs_extra_small;
	        text-transform: capitalize;
	        z-index: 99;

	        &:before {
	            content: '';
			    margin-right: 5px;
			    background-repeat: no-repeat;
			    background-size: cover;
			    display: inline-block;
			    -webkit-mask-image: url(../images/icon-videos.svg);
			    mask-image: url(../images/icon-videos.svg);
			    background-color: $white;
			    width: 12px;
			    height: 12px;
			    position: relative;
			    bottom: -2px;
	        }
		}
	}

	.video-item {
		padding: 0 15px;
		margin-bottom: 20px;
	}

	.post-rating {
		margin-right: 10px;

		@media screen and (max-width: $screen-xs-max) {
			margin-right: 0;
			margin-bottom: 15px;
		}

		.rating-label {
			display: none;
		}

		.post-like,
		.post-dislike {
		    background-color: #eee;
		    display: flex;
		    align-items: center;
		    height: 32px;
		    border: 1px solid #eee;
		    border-radius: $border_radius;
		    padding: 0 20px;
		    line-height: 30px;
		    font-weight: $fw_medium;
		    color: $text_color;

			&.active {
		    	background-color: $primary_color;
		    	border: 1px solid $primary_color;
		    	color: $white;

		    	.haru-icon {
		    		background-color: $white;
				}
		    }

			.haru-icon {
				background-color: $text_color;
				margin-right: 5px;
			}
		}

		.post-like {
			margin-right: 10px;
			
		}

		.post-dislike {

		}
	}

	// Navigation
	.single-playlist-nav {
		display: flex;
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid $border-color;

		@media screen and (max-width: $screen-xs-max) {
			display: block;
		}

		.playlist-nav-link {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}

		.single-playlist-nav-content {
			display: flex;
			align-items: flex-start;
		}

		.playlist-nav-thumb {
			position: relative;

			img {
				max-width: 110px;
				border-radius: $border_radius_small;
			}
		}

		.playlist-nav-count-video {
			position: absolute;
	        bottom: 5px;
	        right: 5px;
	        color: $white;
	        background-color: rgba($black, .7);
	        font-size: $fs_extra_small;
	        font-weight: $fw_medium;
	        padding: 0 5px;
	        z-index: 2;
	        border-radius: $border_radius_small;
	        text-transform: capitalize;
		}

		.playlist-nav-label {
			color: $text_color_secondary;
			letter-spacing: 1px;
			line-height: 1;
			font-weight: $fw-medium;
			text-transform: uppercase;
		}

		.playlist-nav-title {
			margin: 8px 0;
			font-weight: $fw_medium;
		}

		.playlist-nav-info {
			display: flex;
			flex-wrap: wrap;
		    font-size: 12px;

		    > div {
			    margin-right: 15px;
			    position: relative;

			    &:after {
			    	content: '';
				    width: 3px;
				    height: 3px;
				    background-color: $text_color;
				    position: absolute;
				    right: -8px;
				    border-radius: 50%;
				    top: 50%;
				    transform: translateY(-50%);
			    }

			    &:last-child {
			    	margin-right: 0;

			    	&:after {
			    		display: none;
			    	}
			    }
			}
		}

		.single-playlist-prev {
			width: 50%;
			position: relative;

			@media screen and (max-width: $screen-xs-max) {
				width: 100%;
				padding-bottom: 15px;
				margin-bottom: 16px;
				border-bottom: 1px solid $border_color;
			}

			.playlist-nav-meta {
				padding-left: 10px;
			}
		}

		.single-playlist-next {
			width: 50%;
			margin-left: auto;
			text-align: right;
			position: relative;

			@media screen and (max-width: $screen-xs-max) {
				width: 100%;
			}

			.single-playlist-nav-content {
				justify-content: flex-end;
			}

			.playlist-nav-info {
				justify-content: flex-end;
			}

			.playlist-nav-meta {
				padding-right: 10px;
			}
		}
	}

	// Related
	.single-related-playlist {
		position: relative;
		overflow: hidden;

		.related-title {
			padding-bottom: 15px;
			margin-bottom: 25px;
			font-size: 20px;
			position: relative;
			font-weight: $fw_medium;

			@media screen and (max-width: $screen-md-max) {
				font-size: 18px;
			}

			@media screen and (max-width: $screen-xs-max) {
				font-size: 16px;
			}

			&:before {
	            content: '';
	            position: absolute;
	            bottom: 0;
	            width: 100%;
	            height: 1px;
	            background-color: $border_color;
	        }

	        &:after {
	            content: '';
	            position: absolute;
	            width: $under_line_width;
	            height: 1px;
	            bottom: 0;
	            left: 0;
	            background-color: $primary_color;
	        }
		}

		.related-list {
			margin: 0 -10px;
		}

		.playlist-item {
			padding: 0 10px;

			&:focus {
				outline: none;
			}
		}

		// Slick general
		.haru-slick {
			display: none;

			&.slick-initialized {
				display: block;
			}

			&:hover {
				.slick-arrow {
			        &.slick-prev, 
			        &.slick-next {
						
			        }
		        }
			}
		}

		// Arrow
	    .slick-arrow {
	        &.slick-prev, 
	        &.slick-next {
	            border: none;
	            color: transparent;
	            cursor: pointer;
	            display: block;
	            font-size: 0;
	            line-height: 0;
	            outline: none;
	            padding: 0;
	            position: absolute;
	            background-color: transparent;
	            top: -58px;
	            right: 0;
	            z-index: 9;
	            width: 26px;
	            height: 26px;
	            border-radius: $border_radius_small;
	            transition: all .3s;

	            &:before {
	                color: $white;
	                font-family: 'slick';
	                font-size: 14px;
	                line-height: 1;
	                opacity: 1;
	                transition: all .3s;
	            }

	            &:hover {
	                &:before {
	                    background-color: $primary_color;
	                    transition: all .3s;
	                }
	            }
	        }

	        &.slick-prev {
	            right: 40px;

	            &:before {
	                display: inline-block;
	                background-repeat: no-repeat;
	    			background-size: cover;
	                content: '';
	                -webkit-mask-image: url(../images/icon-arrow-left.svg);
				    mask-image: url(../images/icon-arrow-left.svg);
				    width: 4.69px;
				    height: 8px;
				    background-color: $text_color;
	            }
	        }
	        
	        &.slick-next {
	            right: 10px;

	            &:before {
	                display: inline-block;
	                background-repeat: no-repeat;
	    			background-size: cover;
	                content: '';
	                -webkit-mask-image: url(../images/icon-arrow-right.svg);
				    mask-image: url(../images/icon-arrow-right.svg);
				    width: 4.69px;
				    height: 8px;
				    background-color: $text_color;
	            }
	        }
	    }
	}
}

