// My Channel
.channel-my-channels-shortcode {
	.haru-archive-layout-toggle {
		margin-right: 0;
	}

    .grid-columns {
        margin: 0 -15px;
    }
    
    .channel-list {
        .channel-item {
            margin-bottom: 20px;
            padding: 0 15px;
        }
    }
}

