// My Playlist
.playlist-my-playlists-shortcode {
	.haru-archive-layout-toggle {
		margin-right: 0;
	}

    .grid-columns {
        margin: 0 -15px;
    }
    
    .playlist-list {
        .playlist-item {
            margin-bottom: 20px;
            padding: 0 15px;
        }
    }
}

