// My Series
.series-my-seriess-shortcode {
	.haru-archive-layout-toggle {
		margin-right: 0;
	}

    .grid-columns {
        margin: 0 -15px;
    }
    
    .series-list {
        .series-item {
            margin-bottom: 20px;
            padding: 0 15px;
        }
    }
}

