// Single Actor
.haru-single-actor {
	margin-bottom: 80px;
}

.single-haru_actor {
	.single-actor {
		&__title {
			font-size: 20px;

			@media screen and (max-width: $screen-xs-max) {
				font-size: 18px;
			}
		}

		&__meta-top {
			display: flex;
			border-bottom: 1px solid $border_color;
			padding: 10px 0 30px;
			font-size: $fs-small;

			> div {
	            margin-right: 15px;
	            position: relative;

	            &:after {
	                content: '';
	                width: 3px;
	                height: 3px;
	                background-color: rgba($text_color, .8);
	                position: absolute;
	                right: -8px;
	                border-radius: 50%;
	                top: 50%;
	                transform: translateY(-50%);
	            }

	            &:last-child {
	                margin-right: 0;

	                &:after {
	                    display: none;
	                }
	            }

	            > i {
	                margin-right: 5px;
	                display: none;
	            }
	        }
		}

		&__author {
	        i {
	            display: none;
	        }
	    }

	    &__like,
	    &__dislike {
	    	.post-vote-label {
		        display: none;
		    }

	        i {
	            display: none;
	        }
	    }

	    &__view {
	    	.post-views-count {
		    	.post-views-label {
		            display: none;
		        }

		        i {
		        	display: none;
		        }
		    }
	    }

		&__content {
			border-bottom: 1px solid $border_color;
			padding: 30px 0;
			margin-bottom: 30px;
		}

		&__meta-bottom {
			display: flex;
			border-bottom: 1px solid $border_color;
			padding: 30px 0;
			margin-bottom: 30px;
			align-items: center;

			@media screen and (max-width: $screen-xs-max) {
				display: block;
			}
		}

		&__playall {
			
		}

		&__layout-toggle {
			font-weight: $fw-bold;
			margin-top: -66px;
			margin-bottom: 60px;
			text-align: right;

			.toggle-layout {
				border: 1px solid $border_color;
				display: inline-block;
				padding: 5px 10px;

				&.active {
					background-color: $primary_color;
					border: 1px solid $primary_color;
					color: $white;
				}
			}
		}

		&__videos {
			margin: 0 -15px;
		}

		&__thumbnail {
			position: relative;
			padding-bottom: 15px;

			&:hover {
				.slick-arrow {
			        &.slick-prev, 
			        &.slick-next {
						opacity: 1;
						transition: all .3s;
			        }
		        }
			}
		}

		&__count-video {
			position: absolute;
	        top: 10px;
	        left: 10px;
	        background-color: rgba($black, .7);
	        border-radius: $border_radius_small;
	        color: $white;
	        padding: 0 8px;
	        font-size: $fs_extra_small;
	        text-transform: uppercase;
	        z-index: 99;

	        &:before {
	            display: inline-block;
	            content: '\f144';
	            font-family: 'FontAwesome';
	            margin-right: 5px;
	        }
		}
	}

	.video-item {
		padding: 0 15px;
		margin-bottom: 20px;
	}

	.post-rating {
		margin-right: 10px;

		@media screen and (max-width: $screen-xs-max) {
			margin-right: 0;
			margin-bottom: 15px;
		}

		.rating-label {
			display: none;
		}

		.post-like,
		.post-dislike {
			background-color: #eeeeee;
		    height: 40px;
		    line-height: 40px;
		    border-radius: $border_radius_small;
		    padding: 0 20px;

			&.active {
		    	background-color: $primary_color;
		    	color: $white;
		    }

			i {
				margin-right: 5px;
			}
		}

		.post-like {
			margin-right: 10px;
		}

		.post-dislike {

		}
	}

	// Navigation
	.single-actor-nav {
		display: flex;
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid $border-color;

		@media screen and (max-width: $screen-xs-max) {
			display: block;
		}

		.actor-nav-link {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}

		.single-actor-nav-content {
			display: flex;
			align-items: flex-start;
		}

		.actor-nav-thumb {
			position: relative;

			img {
				max-width: 110px;
			}
		}

		.actor-nav-count-video {
			position: absolute;
	        bottom: 5px;
	        right: 5px;
	        color: $white;
	        background-color: rgba($black, .7);
	        font-size: $fs_extra_small;
	        font-weight: $fw_medium;
	        padding: 0 5px;
	        z-index: 2;
	        border-radius: $border_radius_small;
	        text-transform: uppercase;
		}

		.actor-nav-label {
			color: $text_color_secondary;
			letter-spacing: 1px;
			line-height: 1;
			font-weight: $fw-medium;
			text-transform: uppercase;
		}

		.actor-nav-title {
			margin: 8px 0;
		}

		.actor-nav-info {
			display: flex;
			flex-wrap: wrap;
		    font-size: 12px;

		    > div {
			    margin-right: 15px;
			    position: relative;

			    &:after {
			    	content: '';
				    width: 3px;
				    height: 3px;
				    background-color: $text_color;
				    position: absolute;
				    right: -8px;
				    border-radius: 50%;
				    top: 50%;
				    transform: translateY(-50%);
			    }

			    &:last-child {
			    	margin-right: 0;

			    	&:after {
			    		display: none;
			    	}
			    }
			}
		}

		.single-actor-prev {
			width: 50%;
			position: relative;

			@media screen and (max-width: $screen-xs-max) {
				width: 100%;
				padding-bottom: 15px;
				margin-bottom: 16px;
				border-bottom: 1px solid $border_color;
			}

			.actor-nav-meta {
				padding-left: 10px;
			}
		}

		.single-actor-next {
			width: 50%;
			margin-left: auto;
			text-align: right;
			position: relative;

			@media screen and (max-width: $screen-xs-max) {
				width: 100%;
			}

			.single-actor-nav-content {
				justify-content: flex-end;
			}

			.actor-nav-info {
				justify-content: flex-end;
			}

			.actor-nav-meta {
				padding-right: 10px;
			}
		}
	}

	// Related
	.single-related-actor {
		position: relative;
		overflow: hidden;

		.related-title {
			font-size: 24px;

			@media screen and (max-width: $screen-sm-max) {
				font-size: 20px;
			}

			@media screen and (max-width: $screen-xs-max) {
				font-size: 18px;
			}
		}

		.related-list {
			padding-top: 30px;
			margin: 0 -10px;
		}

		.actor-item {
			padding: 0 10px;

			&:focus {
				outline: none;
			}
		}

		// Slick general
		.haru-slick {
			display: none;

			&.slick-initialized {
				display: block;
			}

			&:hover {
				.slick-arrow {
			        &.slick-prev, 
			        &.slick-next {
						
			        }
		        }
			}
		}

		// Arrow
	    .slick-arrow {
	        &.slick-prev, 
	        &.slick-next {
	            background: transparent;
	            border: 1px solid $border_color;
	            color: transparent;
	            cursor: pointer;
	            display: block;
	            font-size: 0;
	            line-height: 0;
	            outline: none;
	            padding: 0;
	            position: absolute;
	            top: -30px;
	            z-index: 9;
	            width: 30px;
	            height: 30px;
	            border-radius: 0;
	            transform: translateY(-50%);
	            transition: all .3s;

	            @media screen and (max-width: $screen-sm-max) {
	            	top: -20px;
	            }

	            &:before {
	                color: $text_color;
	                font-family: 'slick';
	                font-size: 14px;
	                line-height: 1;
	                opacity: 1;
	                transition: all .3s;
	            }

	            &:hover {
	                background-color: $primary_color;
	                border: 1px solid $primary_color;

	                &:before {
	                    color: $white;
	                    transition: all .3s;
	                }
	            }
	        }

	        &.slick-prev {
	            right: 45px;

	            &:before {
	                content: '\f053';
	                font-family: 'FontAwesome';
	            }
	        }

	        &.slick-next {
	            right: 10px;

	            &:before {
	                content: '\f054';
	                font-family: 'FontAwesome';
	            }
	        }
	    }
	}
}

